.text {
    padding: 10pt;
    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        padding: 10pt;
        background: #3498db;
        color: #fff;
    }
    .description {
        font-size: 16px;
        margin-bottom: 10px;
    }
}